
c/*.out
c/*.o
cpp/*.out


java/*.class


python/mydjango
*/__pycache__/
python/django/mysite/*
!python/django/mysite/polls/
python/django/mysite/polls/__pycache__
python/django/mysite/polls/migrations/__pycache__
python/*.png
python/*.jpg
.vscode


go/play
